* {
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 35%);
}
/* Add a gray background color with some padding */
body {
    font-family: Georgia, serif;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Footer */
.footer {
    text-align: center;
    background: rgba(224, 240, 255, 0);
    margin-top: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: #F0F0E7;
    padding: 10px;
    margin-top: 10px;
}

a {
    color: #00abff;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: Georgia, serif;
    font-weight: bold;
    margin: 30px 0 0;
}

h3 {
    font-family: Impact, serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 20px!important;
}

#content {
    float: left;
    width: 60%;
    padding: 0 0 0 30px;
    font-family: Helvetica, sans-serif;
}

p.date {
    color: #ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

p.tags {
    font-size: 13px;
    font-family: Helvetica, sans-serif!important;
}

/* pagination */
.pagination {
    margin: 40px 0;
    font-weight: bold;
}

/* forms */
label {
    float: left;
    clear: both;
    color: #333;
    margin-bottom: 4px;
}

input, textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 10px;
}

input[type=submit] {
    font-weight: bold;
    background: #00abff;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    margin-block: 5px;
}

.errorlist {
    color: #cc0033;
    float: left;
    clear: both;
    padding-left: 10px;
}

/* comments */
.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #F0F0E7;
}

.comment .info {
    font-weight: bold;
    font-size: 12px;
    color: #666;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}